@import '../../../../sass/partials/settings.scss';


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $sm-size;
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  &__h1 {
    font-size: $lg-size;
    font-weight: 500;
    color: $color-light-black;
    margin-bottom: 0;
  }
  &__p {
    color: rgb(181, 181, 195);
    font-weight: 500;
    margin-top: .6em;
  }

  /*** Inputs ***/
  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
  }
  &__input-wrapper {
    position: relative;
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icon-wrapper {
    position: absolute;
    top: .8rem;
    right: 2rem;
  }
  &__input-msg {
    color: $color-warning;
    font-size: $xs-size;
    margin-top: .2rem;
    align-self: flex-start;
    margin-left: 1.8rem;
  }
  &__input {
    background-color: $color-inputBcg;
    border: none;
    padding-left: 1.5rem;
    border-radius: $radius;
    height: 3rem;
    width: 16rem;
  }
  &__input::placeholder {
    color: #B5B5C3;
  }
  &__input-title {
    color: $color-light-black;
    margin-bottom: .5rem;
  }
  //Radio input
  &__radio-wrapper {
    display: flex;
    margin-bottom: .2rem;
    color: $color-light-black;
    label {
      display: flex;
      align-items: center;
      margin: 0 1rem;
    }
  }
  //Checkbox input
  &__input--radio {
    margin-right: .5rem;
  }
  &__input--checkbox {
    margin-right: .5rem;
  }

  /*** Buttons ***/
  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  &__btn {
    border-radius: $radius;
    font-weight: 500;
    height: 3rem;
    width: 7rem;
    font-size: $sm-size;
    &:hover {
      background-color: $color-blue-hover;
    }
    &:disabled {
      opacity: 0.6;
    }
  }
  &__btn--submit {
    background-color: $color-blue;
    color: $color-light;
  }
}


/* MEDIA */
@media (min-width: 600px) {
  .form {
    font-size: $base-size;
    &__h1 {
      font-size: $xl-size;
    }
    &__input-msg {
      font-size: $sm-size;
    }
    &__input {
      height: 3.3rem;
      width: 25rem;
    }
    &__btn {
      font-size: $base-size;
    }
    &__icon-wrapper {
      right: 1rem;
    }
    &__input-msg {
      margin: .5rem 0 0 .5rem;
    }
  }

}
