@import '../../../../sass/partials/settings.scss';


.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  &__h1 {
    font-size: $lg-size;
    font-weight: 500;
    color: $color-light-black;
    margin-bottom: 0;
  }
  &__p {
    color: rgb(181, 181, 195);
    font-weight: 500;
    margin-top: .6em;
    font-size: $sm-size;
  }

  /*** Inputs ***/
  &__inputs-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
  }
  &__input-wrapper {
    position: relative;
    margin: .8rem 0;
  }
  &__icon-wrapper {
    position: absolute;
    top: .8rem;
    right: .7rem;
  }
  &__input-msg {
    color: $color-warning;
    padding-left: .3rem;
    font-size: $xs-size;
  }
  &__input {
    background-color: $color-inputBcg;
    border: none;
    margin-bottom: .5rem;
    padding-left: 1.5em;
    font-size: $sm-size;
    border-radius: $radius;
    height: 4.17em;
  }
  &__input::placeholder {
    color: #B5B5C3;
  }

  /*** Buttons ***/
  &__btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
  &__btn {
    border-radius: $radius;
    font-weight: 500;
    height: 3rem;
    width: 7rem;
    font-size: $sm-size;
  }
  &__btn--submit {
    background-color: $color-blue;
    color: $color-light;
  }

}
