/*** COLORS ***/
/* Main */
$color-light: #fff;
$color-black-sec: rgb(26, 26, 39);
$color-light-black: rgb(63, 66, 84);
$color-background-pri: rgb(238, 240, 248);


/*** SIZES ***/
$base-size: 13px;
$sm-size: 12px;
