@import '../../../sass/partials/settings.scss';


.footer {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.6rem;
  background-color: $color-light;
  font-size: $sm-size;
  margin-top: 2rem;
}

.sectionOne {
  margin-bottom: .8rem;
  span {
    color: rgb(126, 130, 153);
    margin-right: 1rem;
    cursor: pointer;
    &:hover {
      color: $color-blue;
    }
  }
}

.sectionTwo {
  span:first-of-type {
    color: rgb(181, 181, 195);
  }
  span:last-of-type {
    color: $color-light-black;
  }
}


/* MEDIA */
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    font-size: $base-size;
  }
  .sectionOne {
    margin: 0;
  }
}
