@import '../../sass/partials/settings.scss';

.app-wrapper {
  background-color: $color-background-pri;

}

.side-nav-wrapper {
  background-color: $color-black-sec;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.container {
  min-height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
