@import '../../sass/partials/settings.scss';

.app-wrapper {
  background-color: $color-background-pri;
}

.side-nav-wrapper {
  background-color: $color-black-sec;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.container {
  min-height: calc(100vh - 3.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* MEDIA */
@media (min-width: 768px) {
  .app-wrapper {
    display: flex;
  }
  .container {
    width: calc(100% - 16.5rem);
    font-size: $base-size;
  }
  .side-nav-wrapper {
    min-width: 16.5rem;
    max-width: 16.5rem;
    height: auto;
    align-items: flex-start;
    background-color: rgb(30, 30, 45);
  }
}
