@import '../../../../sass/partials/settings.scss';


.form-header {
  height: 2.5rem;
  display: flex;
  padding-left: 1rem;
  background-color: $color-light;
  h1 {
    font-size: .94rem;
    font-weight: 500;
  }
}
