/*** COLORS ***/
/* Main */
$color-light: #fff;
$color-black-sec: rgb(26, 26, 39);
$color-light-black: rgb(63, 66, 84);
$color-background-pri: rgb(238, 240, 248);

/* Validation colors */
$color-warning: rgb(246, 78, 96);
$color-success: rgb(27, 197, 189);

/* Form colors */
$color-inputBcg: rgb(243, 246, 249);
$color-blue: rgb(54, 153, 255);
$color-blue-hover: rgb(44, 143, 246);


/*** SIZES ***/
$xs-size: 10.8px;
$sm-size: 12px;
$base-size: 13px;
$lg-size: 24px;
$radius: .42rem;
